<div class="row filter-row">
   <div class="col-md-1">
   <div class="text">Filter: </div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on selected" id="all">All</div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Backlog">Backlog</div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Developing">Developing</div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Done">Done</div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="OU">NEW OU</div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="other">Other</div>
   </div>

 </div>
