<div class="row filter-row">
   <div class="col-md-1">
   <div class="text"> <p> Filter</p>: </div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on selected" id="all"><p> All</p> </div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Backlog"> <p>Backlog </p> </div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Elaboration">Elaboration</div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Dev">Dev</div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="QA">QA</div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Acceptance">Acceptance</div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Ready">Ready to Release</div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Releasing">Releasing</div>
   </div>


 </div>
