<div class="row filter-row">
   <div class="col-md-1">
   <div class="text"> <p> Filter:</p> </div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on selected" id="all"><p> All</p> </div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Backlog"> <p>Backlog </p> </div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Elaboration"> <p> Elaboration </p></div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Dev"><p> Dev </p> </div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="QA"><p> QA </p> </div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Acceptance"> <p> Acceptance </p></div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Ready"> <p> Ready to Release </p></div>
   </div>
   <div class="col-md-1">
     <div class="filter-button on" id="Releasing"> <p> Releasing </p> </div>
   </div>


 </div>
