
{% extends 'blog/base.html' %}
{% block primary %}

<button type="button" id="btnPizza" class="btn btn-success" style ="float:right;margin-bottom:20px;"> Download Spreadsheet</button>
{% include "blog/filter_row.html" %}
<div id="table_wrapper">
  <table class='table table-striped table-bordered tablesorter' id="backlog_table">
    <thead>
      <tr>
        <th> State </th>
        <th> StoryID </th>
        <th> Service Now </th>
        <th> Name </th>
        <th> Opened </th>
        <th> Owner </th>
        <th> Blocked</th>
      </tr>
  </thead>
  <tbody>
      {% for story in stories %}
      <tr>
        <td class='{{story.State}}'>{{story.State}}</td>
        <td>{{story.id}}</td>
        <td>{{story.Service}}</td>
        <td>{{story.name}}</td>
        <td>{{story.Opened|default:"unassigned"}}</td>
        <td>{{story.Requester}}</td>
        <td>{{story.Blocked}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
