h1 {
  color:#800080;
  font-size:50px;
  text-align: center;
}
.rh_logo{
	width:256px;
	padding-bottom: 15px;
}
.filter-row{
   margin-bottom: auto;
   border-top: 25px solid #f6f6f6 ;
   border-bottom: 25px solid #f1f1f1 ;
   background-color:#fafafa ;
}
.filter-row .text{
   padding:35px;
   font-size: 14px;
   font-weight: bold;
   margin-top:8px;
   display: inline;
}
.filter-button.selected{
   box-shadow: 0 0 5px 2px #0ca6f2 ;
   -webkit-box-shadow: 0 0 5px 2px #0ca6f2 ;
   -moz-box-shadow: 0 0 5px 2px #0ca6f2 ;
}
.filter-button{
   text-align: center;
   font-weight: bold;
   cursor:pointer;
   margin-top: 5px;
   margin-bottom: auto;
}
#Backlog.on{
   background-color: #FFFFFF ;
}

#Elaboration.on{
   background-color: #FFFFFF ;
}

#Dev.on{
   background-color: #FFFFFF ;
}

#QA.on{
   background-color: #FFFFFF ;
}

#Acceptance.on{
   background-color: #FFFFFF ;
}

#Ready.on{
   background-color: #FFFFFF ;
}

#Releasing.on{
   background-color: #FFFFFF ;
}
